<section>
    
    <h3 id="about-me">about myself</h3>
    
    <div class="facerack">
        <div class="face-img"></div>
        <div class="icon-pencil">{% include icons/icon-pencil.html %}</div>
        <div class="icon-mouse">{% include icons/icon-mouse.html %}</div>
        <div class="icon-browser">{% include icons/icon-browser.html %}</div>
        <div class="icon-video">{% include icons/icon-video.html %}</div>
        
    </div>
    
    <div class="blurb">
        <p> Asanka Hendahewa is a impressionable professional who enjoys learning new skills and quickly adapts to organizational changes.at the moment he is studying Computer Security at National School of Bussines Management.</p>
    </div>
    


    {% if site.data.settings.skills %}
  
  <div class="skill-lockup">

    {% for skill in site.data.settings.skills %}

      <div class="skill-unit">
        <div class="skill-label">{{ skill.name }}</div>
        <div class="skill-level level-{{ skill.value }}">
          {% for i in (1..10) %}
            <span></span>
          {% endfor %}
        </div>
      </div>    

    {% endfor %}
    
  </div>
  
  {% endif %}
    
</section>