<section class="contact">
    
    <h3 id="contact">Ask Me</h3>
    
    <form action="//formspree.io/{{ site.email }}" method="POST">
        
        <div class="cont-info">
            
            <label>
                <span>Your Name</span>
                <input type="text" name="name">
            </label>

            <label>
                <span>Your eMail</span>
                <input type="email" name="_replyto">
            </label>
            
        </div>
        
            <label>
                <span>Message</span>
                <textarea name="message"></textarea>
            </label>
        
        
        <div class="sub-btn">
            <input type="submit" value="Send">
        </div>  
        
    </form> 
    
</section>
